main {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;

    form {
      border: 2px solid #836FFF;
      width: 80%;
      padding: 1rem;

      mat-card-content {

        .conteudo {
          margin-left: 1rem;

          .input-button {
            display: flex;
            align-items: center;
            justify-content: space-between;

            mat-form-field {
              width: 50rem;
            }

            input {
              outline: none;
              font-size: 1.3rem;
            }

            button {
              display: flex;
              align-items: center;
              justify-content: center;
            }

          }

          .items-icon {
            display: flex;
            align-items: center;
            line-height: 2.3rem;
            font-size: 1.2rem;
            justify-content: space-between;

            a {
              margin-right: 1rem;
              cursor: pointer;


              fa-icon {
                color: red;
              }
            }

          }
        }
      }
    }

}


