<main>
  <section>
    <mat-card>
      <mat-card-title>TaskList</mat-card-title>
    </mat-card>

      <form [formGroup]="tasks">
        <mat-card-content>
          <div class="conteudo">
            <div class="input-button">
              <mat-form-field appearance="fill">
                <input matInput class="input" formControlName="task" name="task" placeholder="Task" required>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="taskSave()">Adicionar</button>
            </div>

            <mat-list-item *ngFor="let task of taskList">
              <mat-checkbox
                [FormControlName] = "checkBoxTask"
                [checked]="task.done"
                (change)="$event ? atualizarTask($event) : task.done"
                >
                {{ task.name }}
              </mat-checkbox>
            </mat-list-item>
          </div>
        </mat-card-content>
      </form>
  </section>
</main>
