<main>

      <form [formGroup]="tasks">
        <mat-card-content>
          <div class="conteudo">
            <div class="input-button">
              <mat-form-field appearance="fill">
                <input matInput
                  class="input" formControlName = "task"
                  name="task" placeholder="Task"
                  required>
                  <mat-error *ngIf="isInputInvalid">
                    Verifique o texto inserido no campo tarefa!
                  </mat-error>
                  <mat-error *ngIf="isInputInvalidCharacter">
                  </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="handleTaskSave()">Adicionar</button>
            </div>
            <mat-list-item *ngFor="let task of taskList" >
                <div class="items-icon">
                  <mat-checkbox
                    [FormControlName] = "checkBoxTask"
                    [checked]="task.done"
                    (change)="$event ? handleTaskUpdate(task.id, $event) : task.done"
                    >
                    {{ task.item }}
                  </mat-checkbox>
                  <a (click)="handleTaskDelete(task.id)">
                    <fa-icon [icon]="icones.faTrashAlt"> </fa-icon>
                  </a>
                </div>
              </mat-list-item>
          </div>
        </mat-card-content>
      </form>

</main>
